<a href="https://colab.research.google.com/github/bikashk123/Employee-Attrition-Rate-in-an-Organizations/blob/master/employee_attrition_rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df1=pd.read_csv("Train.csv")
df2=pd.read_csv("Test.csv")

In [ ]:
df1.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [ ]:
df2.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4

In [ ]:
df2.isnull().any().sum()

6

In [ ]:
data1=df1.fillna(df1.mean())
data2=df2.fillna(df2.mean())

In [ ]:
data1['Age'] = data1['Age'].apply(pd.to_numeric)
data2['Age'] = data2['Age'].apply(pd.to_numeric)

In [ ]:
data1['Education_Level'].value_counts()

3    2878
4    2076
1     695
2     691
5     660
Name: Education_Level, dtype: int64

In [ ]:
data1['Hometown'].value_counts()

Lebanon        2070
Springfield    1736
Franklin       1523
Washington     1106
Clinton         565
Name: Hometown, dtype: int64

In [ ]:
data1['Decision_skill_possess'].value_counts()

Conceptual    1756
Analytical    1755
Directive     1753
Behavioral    1736
Name: Decision_skill_possess, dtype: int64

In [ ]:
data1['Pay_Scale'].value_counts()

8.000000     1392
6.000000     1284
5.000000     1160
4.000000      983
7.000000      811
9.000000      464
2.000000      277
3.000000      255
10.000000     209
1.000000      156
6.006294        9
Name: Pay_Scale, dtype: int64

In [ ]:
data1['VAR3'].value_counts()

-0.4537    3363
 0.7075    2329
 1.8688     610
-1.6150     500
-2.7762     198
Name: VAR3, dtype: int64

In [ ]:
#Compensation_and_Benefits={'type0':0,'type1':1,'type2':2,'type3':3,'type4':4}
#data['Compensation_and_Benefits']= data['Compensation_and_Benefits'].map(Compensation_and_Benefits)

In [ ]:
Gender={'F':0,'M':1}
data1['Gender']= data1['Gender'].map(Gender)
data2['Gender']= data2['Gender'].map(Gender)

In [ ]:
Relationship_Status={'Single':0,'Married':1}
data1['Relationship_Status']= data1['Relationship_Status'].map(Relationship_Status)
data2['Relationship_Status']= data2['Relationship_Status'].map(Relationship_Status)

In [ ]:
#X1=data1.drop('Employee_ID',axis=1)
#X2=data2.drop('Employee_ID',axis=1)

In [ ]:
data1.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,0,42.0,4,1,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.000000,4,5,3,0.1841
1,EID_18000,1,24.0,3,0,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.000000,3,5,3,0.0670
2,EID_3891,0,58.0,3,1,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.000000,3,8,3,0.0851
3,EID_17492,0,26.0,3,0,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,1.891078,3,7,3,0.0668
4,EID_22534,0,31.0,1,1,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.000000,2,8,2,0.1827

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Hometown_labels = le.fit_transform(data1['Hometown'])
Home_map = {index: label for index, label in 
                  enumerate(le.classes_)}
Home_map
data1['Hometown'] = Hometown_labels

In [ ]:
Hometown_labels = le.fit_transform(data2['Hometown'])
Home_map = {index: label for index, label in 
                  enumerate(le.classes_)}
data2['Hometown'] = Hometown_labels

In [ ]:
Unit_labels = le.fit_transform(data1['Unit'])
Unit_map = {index: label for index, label in 
                  enumerate(le.classes_)}
Unit_map
data1['Unit'] = Unit_labels
Unit_labels = le.fit_transform(data2['Unit'])
Unit_map = {index: label for index, label in 
                  enumerate(le.classes_)}
data2['Unit'] = Unit_labels

In [ ]:
Decision_skill_possess_labels = le.fit_transform(data1['Decision_skill_possess'])
Decision_skill_possess_map = {index: label for index, label in 
                  enumerate(le.classes_)}
Decision_skill_possess_map
data1['Decision_skill_possess'] = Decision_skill_possess_labels
Decision_skill_possess_labels = le.fit_transform(data2['Decision_skill_possess'])
Decision_skill_possess_map = {index: label for index, label in 
                  enumerate(le.classes_)}
data2['Decision_skill_possess'] = Decision_skill_possess_labels

In [ ]:
Compensation_and_Benefits_labels = le.fit_transform(data1['Compensation_and_Benefits'])
Compensation_and_Benefits_map = {index: label for index, label in 
                  enumerate(le.classes_)}
Compensation_and_Benefits_map
data1['Compensation_and_Benefits'] = Compensation_and_Benefits_labels
Compensation_and_Benefits_labels = le.fit_transform(data2['Compensation_and_Benefits'])
Compensation_and_Benefits_map = {index: label for index, label in 
                  enumerate(le.classes_)}
data2['Compensation_and_Benefits'] = Compensation_and_Benefits_labels

In [ ]:
data1.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,0,42.0,4,1,1,2,2,4.0,4,...,2,3.0,4,0.7516,1.8688,2.000000,4,5,3,0.1841
1,EID_18000,1,24.0,3,0,3,3,0,5.0,4,...,2,4.0,3,-0.9612,-0.4537,2.000000,3,5,3,0.0670
2,EID_3891,0,58.0,3,1,0,8,2,27.0,3,...,2,1.0,4,-0.9612,-0.4537,3.000000,3,8,3,0.0851
3,EID_17492,0,26.0,3,0,2,1,1,4.0,3,...,2,1.0,3,-1.8176,-0.4537,1.891078,3,7,3,0.0668
4,EID_22534,0,31.0,1,1,3,3,2,5.0,4,...,3,3.0,1,0.7516,-0.4537,2.000000,2,8,2,0.1827

In [ ]:
#fig,ax=plt.subplots(figsize=(18,4))
#sns.heatmap(corrmat, annot='True', annot_kws={'size':12})

In [ ]:
#d1=pd.get_dummies(x1,prefix=None, prefix_sep='_', dummy_na=False, columns=['Unit','Decision_skill_possess','Education_Level','Compensation_and_Benefits'])

In [ ]:
#d2=pd.get_dummies(x2,prefix=None, prefix_sep='_', dummy_na=False, columns=['Unit','Decision_skill_possess','Education_Level','Compensation_and_Benefits'])

In [ ]:
#data1.dtypes

In [ ]:
x_train=data1.drop(['Attrition_rate','Employee_ID'],axis=1)
y_train=data1['Attrition_rate']

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)

In [ ]:
x_train.shape,y_train.shape

((7000, 22), (7000,))

In [ ]:
x_test = data2.drop(columns=['Employee_ID'])

In [ ]:
x_test.shape

(3000, 22)

In [ ]:
x_test.isnull().any().sum()

0

In [ ]:
x_test=sc.fit_transform(x_test)

In [ ]:
from sklearn.linear_model import Lasso
model=Lasso()
model.fit(x_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
y_pred = model.predict(x_test)
y_pred

array([0.18937613, 0.18937613, 0.18937613, ..., 0.18937613, 0.18937613,
       0.18937613])

In [ ]:
df=pd.DataFrame(data=y_pred,columns=['Attrition_rate'])

In [ ]:
submission=pd.DataFrame(data=data2['Employee_ID'],columns=['Employee_ID','Attrition_rate'])
submission['Attrition_rate']=df

In [ ]:
submission.to_csv('submission.csv', index=False)